
html{
	font-family: 'Oswald', sans-serif;
}

button{
	position: relative;
	border: none;
	background: none;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
}

.body{
	margin-top: -50px;
}

.title{
	text-align: left;
	font-size: 100px;
	padding: 0px 0px 0px 15%;
}

.language-menu{
	text-align: right;
	margin: 40px 40px 0px 0px;
}

#en-main-menu{
	text-align: right;
	margin: 0px 40px 0px 0px;
}

#jp-main-menu{
	text-align: right;
	margin: 0px 40px 0px 0px;
	display: none;
}

#id-main-menu{
	text-align: right;
	margin: 0px 40px 0px 0px;
	display: none;
}

#zh-main-menu{
	text-align: right;
	margin: 0px 40px 0px 0px;
	display: none;
}

.profile-picture{
	margin: 10px 40px 0px 15%;
	text-align: right;
	float: left;
}

#en-about{
	width: 45%;
	float: left;
}

#en-contact{
	margin-top: 10px;
	width: 250px;
	float: left;
	display: none;
}

#jp-about{
	width: 45%;
	float: left;
	display: none;
}

#jp-contact{
	margin-top: 10px;
	width: 45%;
	float: left;
	display: none;
}

#id-about{
	width: 45%;
	float: left;
	display: none;
}

#id-contact{
	margin-top: 10px;
	width: 250px;
	float: left;
	display: none;
	display: none;
}

#zh-about{
	width: 45%;
	float: left;
	display: none;
}

#zh-contact{
	margin-top: 10px;
	width: 250px;
	float: left;
	display: none;
}

.bar{
	height: 30px;
	width: 100%;
	background: #ACE1EC;
	margin: 290px 0px 0px 0px;
}

@media only screen and (max-width: 958px) {
  .body{
	margin-top: 0px;
  }
  .content-wrapper{
  	margin: 0px 0px 0px 15%;
  }
  #en-about,#en-contact,#jp-about,#jp-contact,
  #id-about,#id-contact,#zh-about,#zh-contact{
	width: 90%;
  	margin-bottom: 100px;
  }
}
